/*Detta är css för first.html */
#header{
    color: rgb(117, 107, 93);
    margin: auto;
    text-align: center;
    border: 1px;
    padding: 10px;
    border-color: rgb(126, 109, 89);
}

#navigera{
    color: rgb(76, 60, 51);
    margin: auto;
    align-items: center;
    border: 1px;
    padding: 10px;
    text-decoration: none;
}

body{
    background-color: rgb(197, 192, 179);
    text-align: center;
}

#body{
    text-align: center
}