/*Detta är css för first.html */
header h1 {
    color: rgb(77, 72, 59);
    font-family:Arial, sans-serif;
}

body {
    font-family:'Segoe UI', Tahoma, Verdana, sans-serif;
    text-align: center;
}